.nav-container {
  padding: 14px;
  background-color: white;
  display: block;
  justify-content: center;
  align-items: center;
}

.nav-container div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .totheright centres items on mobile but 
aligns them to right on large screen by use of a media query */
.totheright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.i4g-logo {
  height: 26px;
  width: 113px;
  margin-right: 20px;
}

.zuri-training-logo {
  height: 35px;
  width: 70px;
  margin-right: 20px;
}

.log-in-btn {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-right: 10px;
}

.sign-up-btn {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #5542ca;
  border-color: #5542ca;
  border-radius: 50px;
  padding: 5px 20px;
}

.hero {
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.hero-background {
  height: calc(70vh);
  width: 100%;
  background-image: url("../img/background.svg");
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 15px;
}

.hero-title {
  font-weight: bold;
  font-size: 50px;
}

.hero-desc {
  font-size: 20px;
}

.CTA {
  font-weight: bold;
  font-size: 25px;
  background-color: #5542ca;
  border-color: #5542ca;
  border-radius: 50px;
  padding: 10px 20px;
}

.contact-form-container {
  height: 485px;
  width: 411px;
  border-radius: 5px;
  background-color: white;
  align-self: flex-end;
}

.contact-form-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
  color: #100000;
}

.contact-form-container input {
  border-color: #f94b04;
  color: #dbd9d9;
}

.sign-up-form-btn {
  margin-top: 40px;
  margin-left: 5em;
  align-content: center;
  background-color: #b21b14;
  border-color: #b21b14;
  color: white;
  text-align: center;
}

.termsandconditions {
  color: #cfcfcf;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  /* font-weight: bold; */
}

/* for Desktops, Laptops */
@media (min-width: 1025px) {
  .nav-container {
    height: 84px;
    padding: 14px;
    display: flex;
    align-items: center;
  }

  .nav-container div:first-child {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .hero-background {
    height: calc(100vh - 84px);
  }

  .totheright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: unset;
  }
}
